
<div class="header">
    <!--<a href="#default" class="logo">Green Farm</a>-->
    
      <img src="assets/logo2.jpg" alt="logo" class="img-fluid" width="200px" height="200px">
      <button class="closebtn" ><i class="fa fa-bars pl-4 " aria-hidden="true"></i> </button>
      
    <!--<div class="float-right">
      <form class="form-inline" action="/action_page.php">
        <input class="form-control " type="text" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>-->
    

    <div class="header-right">
      <!--<a href="">
        <form class="form-inline" action="/action_page.php">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
      </a>-->
      
      <a  class="active" href="#"><i class="fa fa-phone"></i> &nbsp;8983783522</a>
      <a class="active" routerLink="cart">My Cart</a>
      <!--<a class="active" href="#"><i class="fa fa-bell"></i>
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <i class="fa fa-sign-in"> </i>
      </a>-->
      <a  class="active"  routerLink="ragister-form"> Sign up</a>
    </div>
    
  </div>
  
