
<div>
     <!-- ======= Breadcrumbs ======= -->
     <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Fruit</h2>
            <ol>
              <li><a routerLink='dashboard'>Home</a></li>
              <li>Fruit</li>
            </ol>
          </div>
  
        </div>
      </section><!-- End Breadcrumbs -->
</div>
<!--<router-outlet></router-outlet>-->

<!-- Start Vegetable Description Section -->
<div class="container">
  <div class="row">
    <div class="column">
      <img src="assets/apple.jpg" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <h3>Apple</h3>
          <p>RS 50 / 250 GM</p>
  
          <form action="/action_page.php">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="5" style="margin-left: 10px;"> 
          </form>
          
          <p><button class="button">Add to cart</button></p>
    </div>
    <div class="column">
      <img src="assets/mango.jpg" alt="Mountains" style="width:100%">
    </div>
    <div class="column">
      <h3>Mango</h3>
          <p>RS 25 / 250 GM</p>
  
          <form action="/action_page.php">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="5" style="margin-left: 10px;"> 
          </form>
          
          <p><button class="button">Add to cart</button></p>
    </div>
  </div><!-- End 1st row -->

  <div class="row">
    <div class="column">
      <img src="assets/angur.jpg" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <h3>Angur</h3>
          <p>RS 30 / 250 GM</p>
  
          <form action="/action_page.php">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="5" style="margin-left: 10px;"> 
          </form>
          
          <p><button class="button">Add to cart</button></p>
    </div>
    <div class="column">
      <img src="assets/banana.jpg" alt="Mountains" style="width:100%">
    </div>
    <div class="column">
      <h3>Banana</h3>
          <p>RS 20 / Dajan</p>
  
          <form action="/action_page.php">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="5" style="margin-left: 10px;"> 
          </form>
          
          <p><button class="button">Add to cart</button></p>
    </div>
  </div>
</div><!-- End  Vegetable Description Section -->
