
<div class="container">
    <div class="row">
        <div class="col-md-6 cartOrder " >    
            <div class="column">
                <img src="assets/chilli.jpg" alt="Snow" style="width:100%">
              </div>
              <div class="column"  >
                <h2 >Mango</h2> 
                 <p >  price  </p>
            
                    <form action="/action_page.php">
                      <label for="quantity">Quantity:</label>
                      <input type="number" id="quantity" name="quantity" min="1" max="5" style="margin-left: 10px;"> 
                    </form>      
              </div>
        </div>

        <div class="col-md-6  cartDelivery">
            <div class="row">
                <h2>Check Delivery First</h2>
                <table class="table table-bordered">
                                   
                    <tr>
                        <td>Sub total</td>
                        <td>RS 100</td>
                    </tr>
                    <tr>
                        <td>Discount</td>
                        <td>RS 100</td>
                    </tr>
                    <tr>
                        <td> Total</td>
                        <td>RS 100</td>
                    </tr>
                </table>
                <h3>Check Delivery *</h3>
                <p>Enter your Zip/Postal Code to Check If Delivery is Available in Your Area.</p>

                <input type="text" name="chkDelivery" id="chkDelivery">
                
            </div>
            <button class=" btn button">Place Order</button>
        </div>

    </div>
</div>