


<div>
    <app-header></app-header>
    <app-sidebar></app-sidebar>
</div>
<div  style="margin-left:18%;">
     <router-outlet></router-outlet>
</div>

<!--<ng-sidebar-container>
    <ng-sidebar [opened]="opened" >
        <p>sidebar contensts</p>
        <button (click)="togglesidebar()"> CloseSidebar</button>
        <ul>
        <li><a routerLink="product">Products</a></li>
        <a routerLink="productlist">Product List</a>
        <a routerLink="addproduct">Add Product</a>
           
        </ul>
        
        
    </ng-sidebar>
    <div ng-sidebar-content>
        <button (click)="togglesidebar()">
            opensidebar
        </button>
        <router-outlet></router-outlet>
    </div>
</ng-sidebar-container>-->




