
<div id="formDiv" class="sidebar"  >

    <!--<a class="closebtn " ><i class="fa fa-bars pl-4 " aria-hidden="true"></i></a>-->


   <button class="closebtn"   (click)="toggleClick()">
      <i class="fa fa-bars pl-4 " aria-hidden="true"></i></button> 

    <!--<a routerLink="dashboard"> <img src="assets/dashboard.png" alt="dashboard"> DashBoard</a>-->
    <!--<a routerLink="dashboard">DashBoard</a>-->
    <a routerLink="product">Products</a>
   <!-- <a href="#">Category</a>-->
    <a routerLink="productlist">Product List</a>
    <a routerLink="addproduct">Add Product</a>
    <a routerLink="invoice">Invoice</a>
    <a routerLink="login-page">Login</a>
    <a routerLink="ragister-form">Register</a>
    <a routerLink="todo">Todo</a>
    <a routerLink="todo">sagar</a>
  </div>

  