<p>product works!</p>
<!-- ======= About Us Section ======= -->
<!--<section id="about-us" class="about-us">
    <div class="container">

      <div class="section-title">
        <h2><strong>Organic Farmimg</strong></h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <h2>All you  Want to know is here.. </h2>
          <h3><span style="color:rgba(137, 196, 244, 1);">SHRIYOG URBAN NIDHI LIMITED </span> is a pleasant way which will help Human being to lead  life comfortably OR "New Way Of Your Savings.</h3>
          <h4> ABOUT :</h4>
          <p style="text-align: justify;">
            Organic food is food produced by methods complying with the standards of organic farming.
             Standards vary worldwide, but organic farming features practices that cycle resources, 
             promote ecological balance, and conserve biodiversity. 
             Organizations regulating organic products may restrict the use of certain pesticides and 
             fertilizers in the farming methods used to produce such products. Organic foods typically are
              not processed using irradiation, industrial solvents, or synthetic food additives.
          </p>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0"  style="text-align: justify;">
          <img src="assets/apple.jpg" alt="appleDescription">
        </div>
      </div>

    </div>
  </section>--><!-- End About Us Section -->
  
<div class="divBtn">
    <button class="btn " routerLink="./vegetable" class="button" >Vegetable</button>
    <button class="btn " routerLink="./fruit" class="button" > Fruit</button>
</div>
<router-outlet></router-outlet>
