
<div class="organic">
    <h2>Organic Farm </h2>
    <p>Eat clean and green. Eat Organic</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="assets/chilli.jpg" alt="Mirchi" style="width:100%">
                <h1>Mirchi</h1>
                <p class="price">Rs 40 / 1 kg</p>
                <p>Organic & Fresh</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/gawar.jpg" alt="Gawar" class="img-fluid" style="width:100%">
                <h1>Flower</h1>
                <p class="price">Rs 30 / 1 kg</p>
                <p>Organic & Fresh</p>
                <p><button>Add to Cart</button></p>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="assets/tomato.jpg" alt="Tomato" style="width:100%">
                <h1>Tomato</h1>
                <p class="price">Rs 20 / 1 kg</p>
                <p>Organic & Fresh</p>
                <p><button>Add to Cart</button></p>
              </div>
        </div>

      </div>
</div>

<div class="container pt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="assets/apple.jpg" alt="Apple" style="width:100%">
                <h1>Apple</h1>
                <p class="price">Rs 200 / 1 kg</p>
                <p>Fresh & Healthy</p>
                <p><button>Add to Cart</button></p>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/mango.jpg" alt="Mango" style="width:100%">
                <h1>Mango</h1>
                <p class="price">RS 100 / 1 kg</p>
                <p>Fresh & Tasty.</p>
                <p><button>Add to Cart</button></p>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="assets/angur.jpg" alt="Angur" style="width:100%">
                <h1>Angur</h1>
                <p class="price">Rs 80 / 1 kg</p>
                <p>Fresh & Tasty</p>
                <p><button>Add to Cart</button></p>
              </div>
        </div>

      </div>
</div>
  